{% extends "base.html" %}

{% block metaproperties %}
	<meta property="og:locale" content="en_US" />
	<meta property="og:title" content="About dirPlace" />
	<meta property="og:description" content="dirPlace is a social utility that allows businesses to build an online community of loyal customers and allows users to find out local discounts, coupons and offers."/>
	<meta property="og:url" content="http://dirplace.com/"/>
	<meta property="og:image" content="http://dirplace.com/images/logo-mobile.gif"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="dirPlace"/>
{% endblock metaproperties %}

{% block seoSnippet %}
    <title>About dirPlace</title>
    <meta name="description" content="dirPlace is a social utility that allows businesses to build an online community of loyal customers and allows users to find out local discounts, coupons and offers.">
{% endblock seoSnippet %}

{% block maincontent %}
<br clear="all"/>
<h1>About dirPlace</h1>
<br clear="all"/>
<h2><i>Your business gets money, your customers save money.</i></h2>
<br clear="all"/>
<p>
    <i>This page was written on 2014.</i>
</p>
<br clear="all"/>
<p>
    Between 2014 and 2015, Internet is finishing a stage and starting a new one. Not everyone, but some people are aware of it,
    especially if they are using Internet from mid-1990s. Since that time, Internet has affected the world in different ways: Socially,
    politically and economically. Now, Internet is not centered exclusively around the web anymore, but it's an omnipresent resource in our lives. At this time,
    we are using Internet more socially and locally than ever and we can use it anywhere through desktop computers, mobile devices, cars and a big
    list of online electronic devices that send many real-time queries and transactions along the day, every day. And dirPlace
    is here to serve as a free and useful resource to connect people and businesses in this <b>new age of Internet</b>, and with real benefit for both parties.
</p>
<br clear="all"/>
<p>
    Before the launch, we planned to build a resource to help people to find out places where they can save money while they consume products or
    services. And, at the same time, this resource could be a great marketing tool for business owners; a tool with a great
    ROI because the platform can be used <b>for free</b> at the initial setup; if someone registers a business, the only initial "payment" we ask for in return for the use of this platform
    is a <b>promotion</b> for our individual users: A discount, a coupon or an offer. Of course, dirPlace is a business
    itself, but customers only will pay when their businesses reaches more than 1,000 fans. So, any business can use our platform
    for free initially. And this is true for any place, it doesn't matter if that is a huge well-known company or a tiny place.
</p>
<br clear="all"/>
<p>
    dirPlace works in a very easy way. Let's see an example. If you have a place (a
    restaurant, a stationery, a travel agency, etc) you can create an account, register your business and create a
    promotion for your fans. People in your city who use our internal search engine can find your business promotion (a
    discount, a coupon or an offer) and their interest can be catched: They become fans of your place, just like in
    others social networks but, in this case, there is a real benefit for both your business and your fans: You get a
    customer who wants to buy your product/service and, at the same time, this customer will save money. Great! At the
    end, you will be able to build a community of fans that become customers. And people can find great places with great
    promotions. <b>Your business gets money, your customers save money.</b>
</p>
<br clear="all"/>
<p>
    We hope you find our platform useful. It's our main interest. If  dirPlace is useful for enough people, then we will be successful.
</p>
<br clear="all"/>
<p>
    --
    <br/>
    Sincerely,
    <br/><br/>
    Omar Yesid Mari&ntilde;o<br/>
    Founder
    <br/><br/>
    - Skype ID: <i>omaryesid2007</i>
    <br/>
    - Twitter: <a href="http://www.twitter.com/OmarYesidMarino" target="_blank">@OmarYesidMarino</a>
    <br/>
    - E-mail: <a href="mailto:omar@dirplace.com">omar@dirplace.com</a>


</p>
{% endblock maincontent %}