{% extends "base.html" %}

{% block metaproperties %}
	<meta property="og:locale" content="en_US" />
	<meta property="og:title" content="FAQs | Questions about dirPlace? Here the answers" />
	<meta property="og:description" content="What is dirPlace? How can I use dirPlace? Is it really for free? How can take advantage of dirPlace for my business?"/>
	<meta property="og:url" content="http://dirplace.com/"/>
	<meta property="og:image" content="http://dirplace.com/images/logo-mobile.gif"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="dirPlace"/>
{% endblock metaproperties %}

{% block seoSnippet %}
    <title>FAQs | Questions about dirPlace? Here the answers</title>
    <meta name="description" content="What is dirPlace? How can I use dirPlace? Is it really for free? How can take advantage of dirPlace for my business?">
{% endblock seoSnippet %}

{% block maincontent %}
<a name="init"></a>
<br clear="all"/>
<h1>Frequently Asked Questions and Answers (FAQs)</h1>
<br clear="all"/>
    * <a href="#generic">Generic questions</a>
    <br/>
    * <a href="#individual">Questions from individual users</a>
    <br/>
    * <a href="#business">Questions from business users</a>
    <br clear="all"/>
    <hr/><hr/><hr/>
<div class="genericQBlock">
    <div class="faqBlock">
        <a name="generic"></a>
        <h2>*** Generic questions</h2>
        <br clear="all"/>
        -<a href="#g1">Who is dirPlace for?</a>
        <br/><br/>
        -<a href="#g2">What is dirPlace?</a>
        <br/><br/>
        -<a href="#g3">When should dirPlace be used?</a>
        <br/><br/>
        -<a href="#g4">Where is dirPlace available?</a>
        <br/><br/>
        -<a href="#g5">Why should I use dirPlace?</a>
        <br/><br/>
        -<a href="#g6">How does dirPlace work?</a>
        <br/><br/>
        -<a href="#g7">Do I need to register myself to use this?</a>
        <br/><br/>
        -<a href="#g8">What are the term and conditions?</a>
        <br/><br/>
        -<a href="#g9">What is the privacy policy of dirPlace?</a>
        <br/><br/>
        <hr class="dottedHr">
        <div class="questionBlock">
            <a name="g1"></a>
            <h3 class="brownText">* Who is dirPlace for?</h3>
            <div class="answer">
                There are two types of users:
                <br/><br/>
                <blockquote>
                    1. People who are looking for discounts, coupons or offers online.
                    <br/>
                    2. Owners/managers of commercial places who want to promote their businesses online and build a community of customers on Internet.
                </blockquote>
            </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
        <div class="questionBlock">
            <a name="g2"></a>
            <h3 class="brownText">* What is dirPlace?</h3>
            <div class="answer">
                It's an online platform to look for discounts, coupons and offers. People can get promotions by becoming
                fan of places that are offering the deals. Business owners/managers can promote their places by using some tools.
                Users can find the deals by searching by keyword or browsing by category.
            </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
        <div class="questionBlock">
            <a name="g3"></a>
            <h3 class="brownText">* When should dirPlace be used?</h3>
            <div class="answer">
                Whenever you want to find out/get discounts, coupons or offers for products and services. If you are a place
                owner/manager, you should use this platform if you want to build an online community of fans/customers
                by offering some promotions that allow your business fans/customers to save money.
            </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
        <div class="questionBlock">
            <a name="g4"></a>
            <h3 class="brownText">* Where is dirPlace available?</h3>
            <div class="answer">
                Anywhere where there is an Internet connection.
            </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
        <div class="questionBlock">
            <a name="g5"></a>
            <h3 class="brownText">* Why should I use dirPlace?</h3>
            <div class="answer">
                Because you can find promotions you really need. Not only "the deal of the day". And, if you are a place
                owner/manager, because you can promote and market your business with a high ROI (for free for the first 1,000 fans).
            </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
        <div class="questionBlock">
            <a name="g6"></a>
            <h3 class="brownText">* How does dirPlace work?</h3>
            <div class="answer">
                <i>For you:</i>
                <br/><br/>
                <blockquote>
                    1. Search for discounts, coupons and offers, by keyword or category.
                    <br/>
                    2. You will get a list of current promotions within your specified reach. Even you can
                    use GPS-enabled devices to see a list of places close to you.
                    <br/>
                    3. If you have an account and becomes a fan of the place offering the promotion, you can get
                    the benefit.
                </blockquote>
                <br/>
                <i>For your business:</i>
                <br/><br/>
                <blockquote>
                    1. Register your business.
                    <br/>
                    2. Create a promotion for our users: A discount, a coupon or an offer.
                    <br/>
                    3. That's all. Since the promotions only apply for your fans, you'll be ready to build an online community
                    of loyal customers. We will drive traffic to your business' profile for free. You'll be able to invite your
                    current customers too.
                </blockquote>
            </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
        <div class="questionBlock">
            <a name="g7"></a>
            <h3 class="brownText">* Do I need to register myself to use this?</h3>
            <div class="answer">
                You don't need to register (or create an account) to use our search engine to find out promotions. Also,
                you can browse the promotions by category without an account. But you need an account to become fan of
                a place or register a business.
            </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
        <div class="questionBlock">
            <a name="g8"></a>
            <h3 class="brownText">* What are the term and conditions?</h3>
           <div class="answer">
                You can find the terms and conditions <a href="{% url "home" %}terms-and-conditions/">here</a>.
           </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
        <div class="questionBlock">
            <a name="g9"></a>
            <h3 class="brownText">* What is the privacy policy of dirPlace?</h3>
           <div class="answer">
                You can find it <a href="{% url "home" %}privacy-policy/">here</a>.
           </div>
            <br clear="all"/>
            <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
            <br clear="all"/>
        </div>
    </div>
</div>
<hr/><hr/>
<div class="usersQBlock">
    <div class="faqBlock">
        <a name="individual"></a>
        <h2>*** From individual users</h2>
        <br clear="all"/>
        -<a href="#u1">What are promotions?</a>
        <br/><br/>
        -<a href="#u2">How much it cost to use dirPlace for getting promotions?</a>
        <br/><br/>
        -<a href="#u3">When can I get the promotions?</a>
        <br/><br/>
        -<a href="#u4">A place is lying about its promotions. Can I report it?</a>
        <br/><br/>
        -<a href="#u5">Can I get all the promotions I want?</a>
        <br/><br/>
        -<a href="#u6">How can I identify myself as a fan of a place?</a>
        <br/><br/>
        -<a href="#u7">I have a business. Can I register my business and get promotions as individual user at the same time?</a>
        <br/><br/>
        -<a href="#u8">Can I use dirPlace on my mobile device?</a>
        <br/><br/>
        -<a href="#u9">How can I get places with promotions close to me?</a>
        <br/><br/>
        <hr class="dottedHr">
        <div class="questionBlock">
           <a name="u1"></a>
           <h3 class="brownText">* What are promotions?</h3>
           <div class="answer">
                A promotion is any type of deal you can find in this platform: A discount, a coupon or an offer.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="u2"></a>
           <h3 class="brownText">* How much it cost to use dirPlace for getting promotions?</h3>
           <div class="answer">
                Nothing. Zero. It's free.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="u3"></a>
           <h3 class="brownText">* When can I get the promotions?</h3>
           <div class="answer">
                There is no a general restriction about it. However, a place owner/manager can restrict promotions in a range of dates,
                and of course, you need to take into account the open hours of the place.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="u4"></a>
           <h3 class="brownText">* A place is lying about its promotions. Can I report it?</h3>
           <div class="answer">
                Yes. You can report it by sending us a message to <a href="mailto:misuse@dirplace.com">misuse@dirplace.com</a>
                <br/>
                You also can rate the place and write a review at the profile of that place to alert other users.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="u5"></a>
           <h3 class="brownText">* Can I get all the promotions I want?</h3>
           <div class="answer">
                Yes. However, keep in mind that a place owner/manager can restrict a promotion to be available only for people
                who have been fans during, at least, the last three months or the last twelve months.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="u6"></a>
           <h3 class="brownText">* How can I identify myself as a fan of a place?</h3>
           <div class="answer">
                Each user has a chosen or automatically assigned ID. You can print a physical card with your picture and your ID; the card is available
                at the <a href="{% url "home" %}my-account/">My Account</a> section. Alternatively, in your profile, we display a <a href="http://en.wikipedia.org/wiki/QR_code" target="_blank">QR Code</a>
                codified with your ID which you can show at the place  as a way to identify yourself. At the place, your ID can be
                verified in our system as a fan of them.
                <br/><br/>
                <b>We strongly advise you to print (and maybe laminate) the card as a way to identify yourself at the places.</b>
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="u7"></a>
           <h3 class="brownText">* I have a business. Can I register my business and get promotions as individual user at the same time?</h3>
           <div class="answer">
                Yes.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="u8"></a>
           <h3 class="brownText">* Can I use dirPlace on my mobile device?</h3>
           <div class="answer">
                Sure. At this time, we are available in any mobile web browser and our website was built with mobility in mind.
                In addition, we are working to launch our mobile apps soon for Android, iPhone and Windows devices.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="u9"></a>
           <h3 class="brownText">* How can I get places with promotions close to me?</h3>
           <div class="answer">
                You need a device (computer, smartphone, tablet...) with GPS capabilities, and the GPS feature must be
                enabled. With this, you will be able to sort the listings depending on the distance to your current location.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
    </div>
</div>
<hr/><hr/>
<div class="businessQBlock">
    <div class="faqBlock">
        <a name="business"></a>
        <h2>*** From business users</h2>
        <br clear="all"/>
        -<a href="#b1">Is dirplace a marketing tool?</a>
        <br/><br/>
        -<a href="#b2">How much it cost to use dirPlace for marketing a business?</a>
        <br/><br/>
        -<a href="#b3">What type of promotions can I create for my business?</a>
        <br/><br/>
        -<a href="#b4">Can I use dirPlace for several businesses of mine?</a>
        <br/><br/>
        -<a href="#b5">Can I limit the promotions only for some products/services?</a>
        <br/><br/>
        -<a href="#b6">Can I limit the promotions only for some fans?</a>
        <br/><br/>
        -<a href="#b7">How can I identify my fans when they come to my place?</a>
        <br/><br/>
        -<a href="#b8">I just registered my business. Can I invite my current customers?</a>
        <br/><br/>
        -<a href="#b9">How can I promote my profile?</a>
        <br/><br/>
        <hr class="dottedHr">
        <div class="questionBlock">
           <a name="b1"></a>
           <h3 class="brownText">* Is dirplace a marketing tool?</h3>
           <div class="answer">
                If you are an owner or manager of a commercial place opened to the public, the answer is: Yes! You can use this platform to promote your
                business and, at the same time, you will be building a community of customers online.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="b2"></a>
           <h3 class="brownText">* How much it cost to use dirPlace for marketing a business? </h3>
           <div class="answer">
                <li>Creating an account is <b>totally free</b>. And you only will pay after your business reaches 1,000 fans.<br/>
                <li>US$ 9 per month from 1,001 to 10,000 fans.<br/>
                <li>US$ 99 per month from 10,001 to 100,000 fans.<br/>
                <li>US$ 999 per month from 100,001 to 1,000,000 fans.<br/>
                <li>And so on.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="b3"></a>
           <h3 class="brownText">* What type of promotions can I create for my business? </h3>
           <div class="answer">
               There are three types of promotions:
                <br/><br/>
                <blockquote>
                    1. <i>Discounts</i>: Your fans can get a discount percent when buying your products or when getting your services. Example: <i>Get 20% off on all sandwiches.</i>
                    <br/><br/>
                    2. <i>Coupons</i>: Your fans have a coupon for a specified amount to be redeemed at your place. Example: <i>Coupon valid for $30 off in-store.</i>
                    <br/><br/>
                    3. <i>Offers</i>: Your fans can get an additional benefit when buying your products or when they get your services. Example: <i>Buy 1 get 1 free.</i>
                </blockquote>
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="b4"></a>
           <h3 class="brownText">* Can I use dirPlace for several businesses of mine?</h3>
           <div class="answer">
                Sure. There is no restriction at all.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="b5"></a>
           <h3 class="brownText">* Can I limit the promotions only for some products/services?</h3>
           <div class="answer">
                Yes. When you create a promotion, there is a field called <b>Restrictions</b>. There, you can explicitly
                describe what products/services can apply for that promotion.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="b6"></a>
           <h3 class="brownText">* Can I limit the promotions only for some fans?</h3>
           <div class="answer">
                Yes. You can restrict the promotions to be applicable for:
                <br/><br/>
                <blockquote>
                    1. All fans (<i>default</i>)
                    <br/>
                    2. People who have been fans for, at least, the last three months.
                    <br/>
                    3. People who have been fans for, at least, the last twelve months.
                </blockquote>
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="b7"></a>
           <h3 class="brownText">* How can I identify the fans when they come to my place?</h3>
           <div class="answer">
                <b>You need an Internet connection to verify your place's fans.*</b> Each user of this platform has a numerical ID. With this ID, your fans can identify themselves
                by showing either a physical card we provide them, or showing a <a href="http://en.wikipedia.org/wiki/QR_code" target="_blank">QR Code</a>.
                You can ask for their numerical ID (verbally or printed) and verify if the person is a fan by entering the ID at the <a href="{% url "home" %}my-place-profile/">My Place Profile</a> section.
                In that section, we provide you a tool for that purpose (there, you also can see the date when the person became a fan and her/his name).
                <br/><br/>
                If a fan doesn't have the physical card and he only provides the ID verbally, you should ask for an alternative
                document (identity card, driving license, social security card) in order to avoid deceit. That way, you can
                check if fan's name in our system matches the name in the document.
                <br/><br/>
                <b>IMPORTANT</b>:  Please, keep in mind that not all users with an ID or card are necessarily fans of
                your place. Ultimately, the verification of  fans identity it's up to you. Just keep it simple.
                <br/><br/>
                * If you don't have an Internet connection at your place, you could keep a periodically updated printed list
                of fans to verify them manually (we provide you a tool to print a fans list at the
                <a href="{% url "home" %}my-place-profile/">My Place Profile</a> section). However, that approach is not practical in all cases
                (think about people who become fans since a few minutes ago: They won't be in your printed list). In that case, keep in
                mind that you also can use a basic smartphone or a small tablet with a mobile internet connection.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="b8"></a>
           <h3 class="brownText">* I just registered my business. Can I invite my current customers?</h3>
           <div class="answer">
                Sure. The public profile of your place in our website has an easy and optimized URL. For example:
                <span class="greenText">http://dirplace.com/New-York/MY-PLACE-NAME/</span>
                <br/><br/>
                You can invite your current customers; they can visit your place's profile and they can become fans. In addition, at the
                <a href="{% url "home" %}my-place-profile/">My Place Profile</a> section
                we provide you with share buttons to invite current followers or fans of your place at other social
                networks like Facebook, Twitter or Instagram.
                <br/><br/>
                Lastly, but not least, you can embed a widget (provided by us) in your website to encourage your
                web visitors to become fans.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
        <div class="questionBlock">
           <a name="b9"></a>
           <h3 class="brownText">* How can I promote my profile?</h3>
           <div class="answer">
                It's up to you. We suggest three ways:
                <br clear="all"/><br/>
                - By promoting the URL of your place's profile both offline and online. You can use paid advertising, of course.
                And there are plenty of ways to promote it online for free.
                <br clear="all"/><br/>
                - By inviting your fans or followers in other websites like Facebook, Twitter or Instagram. We provide you
                some buttons at the
                <a href="{% url "home" %}my-place-profile/">My Place Profile</a> section to do that.
                <br clear="all"/><br/>
                - By linking your place's profile from your website. We provide you a widget for that at the
                <a href="{% url "home" %}my-place-profile/">My Place Profile</a> section.
           </div>
           <br clear="all"/>
           <div class="floatRight"><a href="#init"><img src="{{ MEDIA_URL }}go-up.png" width="16" height="16" border="0"></a> <a href="#init" class="goUp">Go up</a></div>
           <br clear="all"/>
        </div>
    </div>
</div>
<br clear="all"/>
{% endblock maincontent %}