{% extends "base.html" %}

{% block metaproperties %}
	<meta property="og:locale" content="en_US" />
	<meta property="og:title" content="Privacy Policy | dirPlace" />
	<meta property="og:description" content="At dirPlace, we respect your privacy as a visitor to our website. As a result, we do not trade, rent or sell your Personal Information."/>
	<meta property="og:url" content="http://dirplace.com/"/>
	<meta property="og:image" content="http://dirplace.com/images/logo-mobile.gif"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="dirPlace"/>
{% endblock metaproperties %}

{% block seoSnippet %}
    <title>Privacy Policy | dirPlace</title>
    <meta name="description" content="At dirPlace, we respect your privacy as a visitor to our website. As a result, we do not trade, rent or sell your Personal Information.">
    <meta name="robots" content="noindex, follow">
{% endblock seoSnippet %}

{% block maincontent %}
<br clear="all"/>
<h1>Privacy Policy</h1>
<br clear="all"/>
<div>
    Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand
    how we collect, use, communicate and disclose and make use of personal information. The following outlines our
    privacy policy.
    <br clear="all"/><br/>
    <div style="margin-left:27px;">
        * Before or at the time of collecting personal information, we will identify the purposes for which information
        is being collected.
        <br clear="all"/><br/>
        * We will collect and use of personal information solely with the objective of fulfilling those purposes
        specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
        <br clear="all"/><br/>
        * We will only retain personal information as long as necessary for the fulfillment of those purposes.
        <br clear="all"/><br/>
        * We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
        <br clear="all"/><br/>
        * Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
        <br clear="all"/><br/>
        * We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
        <br clear="all"/><br/>
        *  We will make readily available to customers information about our policies and practices relating to the management of personal information.
    </div>
    <br clear="all"/>
    We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
</div>

{% endblock maincontent %}