{% extends "base.html" %}

{% block metaproperties %}
	<meta property="og:locale" content="en_US" />
	<meta property="og:title" content="Search discounts, coupons and offers by keyword | dirPlace" />
	<meta property="og:description" content="By entering a keyword you will get a list of current promotions within your specified reach."/>
	<meta property="og:url" content="http://dirplace.com/"/>
	<meta property="og:image" content="http://dirplace.com/images/logo-mobile.gif"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="dirPlace"/>
{% endblock metaproperties %}

{% block seoSnippet %}
    <title>Search discounts, coupons and offers by keyword | dirPlace</title>
    <meta name="description" content="By entering a keyword you will get a list of current promotions within your specified reach.">
{% endblock seoSnippet %}

{% block maincontent %}
{% endblock maincontent %}